<form class= "ui form">
  <h4> Name </h4>
  <input type="text" name="name" placeholder="Name" />
  <h4> Description </h4>
  <input type="text" name="description" placeholder="Description" />
  <button class= 'ui button submit' type="submit"> Add Product </button>
</form>
